services:
  db:
    image: "postgres:latest"
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_PASSWORD: secret
      POSTGRES_USER: myuser
    ports:
      - "5432:5432"

  axon-server:
    image: axoniq/axonserver:2025.2.1
    hostname: axon-server
    volumes:
      - data:/axonserver/data
      - events:/axonserver/events
    environment:
      AXONIQ_AXONSERVER_HOSTNAME: axon-server
      AXONIQ_AXONSERVER_STANDALONE_DCB: true
      AXONIQ_AXONSERVER_DEVMODE_ENABLED: true
    ports:
      - "8024:8024"
      - "8124:8124"
    networks:
      - axon-demo

networks:
  axon-demo:

volumes:
  data:
    driver: local
  events:
    driver: local
